@use 'partials/colors';
@import 'fonts.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$pale-blue;
  font-family: 'RedHatDisplay';
  font-size: 16px;
}

@import 'card.scss';
@import 'footer.scss';
